.kiro/features
.kiro/views
.kiro/resources/DECISIONS.md
.kiro/resources/PROGRESS.md
.kiro/resources/SCRATCHPAD.md

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
.env
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store

# Task files
# tasks.json
# tasks/ 
.taskmaster
.env.example
.kiro/settings/mcp.json
.kiro/*
